.all-profiles-container {
  width: 100%;
  max-width: 1300px;
  margin: 40px auto;
  padding: 20px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 20px;     
  row-gap: 20px;         
  justify-items: center;
}


.loading-text,
.no-profiles-text {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 20px;
  color: white;
  margin-top: 120px;

}


.single-profile-box {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  border: 1px solid #eee;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.06);
  transition: 0.25s ease;
  cursor: pointer;

  width: 100%;
  max-width: 230px;  
}

.single-profile-box:hover {
  transform: translateY(-4px);
  box-shadow: 0px 6px 16px rgba(0,0,0,0.12);
}


.profile-photo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 12px;
  border: 2px solid #ddd;
}

/* Text */
.profile-name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px;
}

.profile-username {
  font-size: 14px;
  color: #777;
  margin-bottom: 12px;
}

/* Follow Button */
.follow-profile-btn {
  background: #1da1f2;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 6px;
  align-items: center;
  cursor: pointer;
  transition: background 0.2s ease;
}

.follow-profile-btn:hover {
  background: #0d8cd8;
}


@media (max-width: 900px) {
  .all-profiles-container {
    grid-template-columns: repeat(3, 1fr);

  }
}


@media (max-width: 600px) {
  .all-profiles-container {
    grid-template-columns: repeat(2, 1fr);
        margin-top: 70px;
  }

  .single-profile-box {
    max-width: 180px;
  }
}


@media (max-width: 400px) {
  .all-profiles-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .single-profile-box {
    max-width: 220px;
    margin: auto;
  }
}
