*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background: radial-gradient(circle at 20% 20%, #0f1b3d, #060b18 60%);
  overflow: hidden;
  justify-content: center;
  align-items: center;
 
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.profile-card {
  margin: 100px auto 0 auto !important;
}
/* Spinner */


.page-loader {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}




.btn-spinner {
  width: 22px;
  height: 22px;
  border: 3px solid rgba(255, 255, 255, 0.35);
  border-top-color: white;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%; 

  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

.btn:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}
